@import './antd.less';
@import './variables.less';
@import './mixins.less';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
  background-color: @page-background;
  color: @char-primary-65;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  color: inherit;
}

* {
  box-sizing: border-box;
}
