// Media queries breakpoint
// Extra small screen / phone
@screen-xs: 480px;

// Small screen / tablet
@screen-sm: 640px;

// Medium screen / desktop
@screen-md: 768px;

// Large screen / wide desktop
@screen-lg: 1024px;

// Extra large screen / full hd
@screen-xl: 1280px;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;

// Colors
@primary-6: #ffd60a;
@yellow-light: #ffcc00;

@page-background: #000;
@neutral-2: #141414;
@neutral-3: #1f1f1f;
@purple-5: #651fff;
@purple-7: #a379ff;
@white: #fff;

@char-primary-65: rgba(255, 255, 255, 0.65);
@char-secondary-45: rgba(255, 255, 255, 0.45);
@char-title-85: rgba(255, 255, 255, 0.85);

@border-color: #434343;
